@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
.logo {
  width: 120px;
  height: 31px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 0px 30px 0px 0;
  float: left;
  color: white;
  font-size: 2em;
}
.right {
  float: right;
}
