# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Document\ProjectTotNghiep\code\Do_An_Tot_Nghiep_NLP\PlagismDetector\PlagismDetector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
