#mainDiv {
  height: 100px;
  width: 80px;
  position: relative;
  border-bottom: 2px solid #f51c40;
  background: #3beadc;
}

#area {
  height: 500px;
  width: 500px;
  border: 1px solid blue;
  box-sizing: border-box;
}
::ng-deep .selected {
  color: red;
}
#ex1 {
  height: 200px;
  width: 500px;
  border: 1px solid blue;
  box-sizing: border-box;
  overflow: auto;
}
#ex2 {
  height: 200px;
  width: 500px;
  border: 1px solid blue;
  box-sizing: border-box;
  overflow: auto;
}
.on {
  overflow-anchor: auto;
}
.off {
  overflow-anchor: none;
}
#anchor {
  overflow-anchor: auto;
  height: 1px;
}
.highlightText {
  background: yellow;
}
