<div *ngIf="!isSend; else doneSend">
  <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
    <h4 class="text-center"><b>Khôi phục tài khoản của bạn</b></h4>
    <h6 class="text-center">
      Chúng tôi có thể giúp bạn đặt lại mật khẩu và thông tin bảo mật. Trước tiên, nhập tài khoản của bạn và làm theo
      hướng dẫn bên dưới.
    </h6>
    <hr />
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSm]="14" [nzXs]="24">
        <input [placeholder]="'Email' | translate" nz-input formControlName="email" id="email" />
        <div ngxErrors="email">
          <div *ngFor="let error of errors" [ngxError]="error.name" [when]="error.rules">
            <nz-form-explain translate class="errors">
              {{ 'Email is required' | translate }}
            </nz-form-explain>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzOffset]="16" [nzSpan]="8">
        <button [routerLink]="['/login']" routerLinkActive="router-link-active" nz-button nzType="default" translate>
          {{ 'Back' | translate }}
        </button>
        <button class="margin-left-8" [disabled]="forgotPasswordForm.invalid" nz-button nzType="primary" translate>
          {{ 'SendForgotPassword' | translate }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #doneSend>
  <h4 class="text-center">
    <b>Yêu cầu khôi phục mật khẩu của bạn đã được gửi mail. Vui lòng kiểm tra mail của bạn. </b>
  </h4>
  <h4 class="text-center">Thanks You!</h4>
</ng-template>
