<nz-layout style="padding:24px 0; background: #fff">
  <div nz-row>
    <nz-list
      style="padding:30px;"
      [nzDataSource]="blogs"
      [nzRenderItem]="item"
      [nzGrid]="{ gutter: 16, xs: 24, sm: 12, md: 8, lg: 8, xl: 6 }"
    >
      <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
          <ng-template #nzContent>
            <nz-card [nzTitle]="item.title">
              <nz-card [nzCover]="coverTemplate" [nzActions]="[detail]">
                <p>{{ item.description }}</p>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
              <ng-template #detail>
                <button nz-button nzType="primary" nzGhost (click)="routingDetail(1)">Detail</button>
              </ng-template>
            </nz-card>
          </ng-template>
        </nz-list-item>
      </ng-template>
    </nz-list>

    <!-- <div nz-row>
      <div nz-col nzSpan="12" nzOffset="8">
        <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
      </div>
    </div> -->
  </div>
</nz-layout>
