<nz-layout style="padding:24px 0; background: #fff">
  <div nz-row>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }">
      <nz-content style="padding:30px;">
        <div class="card-header">
          <div class="utils__title"><strong>Blog Post</strong></div>
        </div>
        <div class="card-body">
          <div class="blogFeed">
            <div class="row">
              <div class="col-lg-12">
                <article class="article">
                  <div class="information">
                    <div class="title">
                      <h1>The Secret To Your Self-Motivation</h1>
                    </div>
                    <ul class="meta">
                      <li class="metaInf">
                        <span class="articleAuthor"> Post By <a href="javascript: void(0);">Trinity Parson</a></span>
                      </li>
                      <li class="metaInf"><span class="articleDate">On June 12, 2017</span></li>
                    </ul>
                  </div>
                  <div class="content">
                    <div class="articleMedia">
                      <img
                        src="https://cleanuitemplate.com/admin/angular/preview/assets/images/photos/1.jpeg"
                        alt="Man on mountains"
                      />
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
                      consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem ipsum dolor
                      sit amet, consectetur adipisicing elit. Nihil laborum est perferendis consectetur corporis esse
                      labore minima molestias, exercitationem consequuntur!
                    </p>
                    <blockquote class="blockquote">
                      <p class="mb-0">
                        Led cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis
                        sagittis ipsum. Praesent mauris. at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                        mauris. Fusce nec tellus sed augue semper porta. Mauris massa.
                      </p>
                      <footer class="blockquote-footer">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
                      consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem ipsum dolor
                      sit amet, consectetur adipisicing elit. Nihil laborum est perferendis consectetur corporis esse
                      labore minima molestias, exercitationem consequuntur!
                    </p>
                    <div class="articleMedia">
                      <img
                        src="https://cleanuitemplate.com/admin/angular/preview/assets/images/photos/2.jpeg"
                        alt="Man on mountains"
                      />
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil laborum est perferendis
                      consectetur corporis esse labore minima molestias, exercitationem consequuntur! Lorem ipsum dolor
                      sit amet, consectetur adipisicing elit. Nihil laborum est perferendis consectetur corporis esse
                      labore minima molestias, exercitationem consequuntur!
                    </p>
                  </div>
                </article>
                <div class="authorCard clearfix">
                  <div class="authorPhoto"></div>
                  <div class="authorInf">
                    <span class="authorName">Trinity Parson</span>
                    <p class="authorWords">“I hope you enjoy reading this as much as I enjoyed writing this.”</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-content>
    </div>
  </div>
</nz-layout>
