div.container {
  min-height: 10em;

  align-items: center;
}
.center {
  align-items: center;
  font-family: "Times New Roman", Times, serif;

  font-size: 16px;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.inside-item {
  text-align: center;
}
.file-input {
  text-align: center;
}
.material-icons {
  font-size: 30px;
}
.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  font-family: "Times New Roman", Times, serif;
}
.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  background-color: #fff;
}
#container {
  width: 100%;
  height: 100%;
}
button {
  margin: auto;
  display: block;
  height: 50px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
#layout {
  height: 1000px;
}
p {
  font-family: "Times New Roman", Times, serif;
  size: 15px;
}
