<nz-sider>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="logo">
          <a href="/daovan" translate> APP_NAME </a>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <ul>
          <li
            class="list-group-item list-group-item-action bg-light sidebarbutton"
            routerLink="/daovan"
            routerLinkActive="active"
            translate
          >
            Home
          </li>
          <li class="list-group-item list-group-item-action bg-light sidebarbutton" (click)="account()">Profile</li>
          <li
            class="list-group-item list-group-item-action bg-light sidebarbutton"
            routerLink="/about"
            routerLinkActive="active"
            translate
          >
            About
          </li>
        </ul>
      </div>
    </div>
  </div>
</nz-sider>
